{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.1.0"}}},
  {jiffy, {git, "git@github.com:davisp/jiffy.git", {tag, "0.14.13"}}}
]}.

{plugins, [rebar3_run]}.

{relx, [
  {release,
    {mixtape_test, "0.0.1"},
    [mixtape],
    [
      {dev_mode, true},
      {include_erts, true},
      {extended_start_script, true}
    ]}
]}.
